* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #333;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 100vh;
    height: 100dvh;

    max-width: 800px;

    margin: auto;
    border-radius: 1em;
    padding: 0;

    display: flex;
    flex-direction: column;

    background-color: white;
    font-size: 12pt;
    font-weight: 300;
}
header {
    flex-grow: 0;
    width: 100%;

    padding: 25px 25px 5px 25px;
}
main {
    flex-grow: 1;
    width: 100%;

    padding: 25px 25px;

    overflow-y: auto;
}
footer {
    flex-grow: 0;

    width: 100%;
    height: content-height;

    margin-top: 1em;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #222;
    color: whitesmoke;
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 25px;
    margin-top: 35px;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
    transition:
        scale 0.3s,
        box-shadow 0.3s;
    position: relative;

    > a {
        width: 200px;
        text-align: center;

        &.current-page {
            color: black;
            pointer-events: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &:has(a:hover) {
        box-shadow: 3px 3px 4px #333;
        scale: 1.05;
    }
}

h1 {
    font-size: x-large;
}

ul {
    padding-inline-start: 1em;
}

li {
    line-height: 1em;
    padding-left: 0.1em;
    margin-bottom: 0.25em;
}

p.bio {
    margin-bottom: 0.5em;
}

p.my-email {
    margin-top: 0;
    margin-bottom: 1em;
}

p.my-email tt {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(226, 0, 26);
}

div.projects,
div.awards,
div.courses,
div.publications {
    margin-bottom: 14pt;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 14pt;
    counter-reset: publication;
}

div.projects::after,
div.awards::after,
div.courses::after,
div.publications::after {
    content: "";
    flex: auto;
    flex-basis: 232px;
    box-sizing: border-box;
    flex-grow: 0;
}

section.course,
section.homework,
section.award,
section.project,
section.publication {
    margin-bottom: 14pt;
    width: 200px;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
    transition:
        box-shadow 0.3s,
        scale 0.3s;
}

section.homework {
    background-color: rgba(128, 128, 128, 0.299);
}

section.entry::before {
    counter-increment: publication;
    content: "[" counter(publication) "] ";
    font-weight: 400;
    color: #333;
}

:is(
    section.course,
    section.homework,
    section.award,
    section.project,
    section.publication
):has(a:hover) {
    box-shadow: 3px 3px 4px #333;
    scale: 1.05;
    transition: all 0.3s;
}

:is(
        section.course,
        section.homework,
        section.award,
        section.project,
        section.publication
    )
    a:hover {
    text-decoration: underline;
}

section em {
    font-weight: 500;
}

section {
    > p:first-child {
        margin-top: 0em;
    }
    > p:last-child {
        margin-bottom: 0em;
    }
}

p.authors {
    font-style: italic;
    margin-top: 0.25em;
    font-weight: 350;
    margin-bottom: 0.3em;
}

p.publisher {
    font-weight: 400;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

details p {
    padding: 0.5em;
    border-radius: 0.5em;

    position: absolute;
    z-index: 1;
    left: 0;
    translate: 0 -1em;

    box-shadow:
        4px 4px 6px gray,
        -4px 4px 6px gray;

    color: white;
    background-color: rgb(104, 98, 98);
}

a:link,
a:visited {
    font-variant: normal;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    color: rgb(226, 0, 26);
}

section.links-with-descriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

a.link-with-description {
    display: inline-block;

    box-sizing: border-box;

    width: 30%;
    min-width: 12em;
    border-radius: 0.25em;
    padding: 1em;

    background-color: whitesmoke;

    transition: box-shadow 0.2s ease-in-out;
    transition: scale 0.2s ease-in-out;

    &:hover {
        box-shadow: 3px 3px 4px #333;

        scale: 1.05;
    }

    h2 {
        margin-top: 0.5em;
        font-weight: 450;
    }

    p {
        color: black;
        font-weight: 300;
    }
}
